<div class="container mt-4">
<h1>Aulas disponíveis</h1>

<%= link_to "Criar nova aula", new_lecture_path, class: "a btn btn-info bt-sm my-2"%> 
<%= link_to "Voltar para home", root_path, class: "a btn btn-light bt-sm my-2" %>
<br>
<br>
  <% @lectures.each do |lecture| %>
    <div class="card-lecture">
      <% if lecture.user.photo.present? %>
         <%= cl_image_tag lecture.user.photo.key%>
      <% else %>
         <%= image_tag "https://static.wixstatic.com/media/2bd527_3c1c98c65bfb4ba78f36b31c5a713816~mv2.png/v1/fill/w_152,h_160,al_c,q_85,usm_0.66_1.00_0.01/icone.webp" %>
      <%end%>
      <div class="card-lecture-infos">
        <h2><%= link_to"#{lecture.title.capitalize}", lecture_path(lecture)%></h2>
        <p>Professor(a): <%= lecture.user.name %></p>
        <h2>Matéria: <%= lecture.subject %></h2>
        <h2>Sobre esta aula: <%= lecture.description %> </h2>
      </div>
    </div>
  <% end %>
</div>
