<% def format_date(date) %>
  <% date.day < 10 ? day = "0" + date.day.to_s : day = date.day.to_s  %>
  <% date.month < 10 ? month = "0" + date.month.to_s : month = date.month.to_s  %>
  <% year = date.year.to_s %>
  <% date.hour < 10 ? hour = "0" + date.hour.to_s : hour = date.hour.to_s  %>
  <% date.min < 10 ? minute = "0" + date.min.to_s : minute = date.min.to_s  %>
  <% "#{day}/#{month}/#{year} - #{hour}h#{minute}" %>
<% end %>

<% def booking_params(booking) %>
  <% booking_params = { lecture_id: booking.availability.lecture.id,
                        availability_id: booking.availability.id,
                        id: booking.id} %>  
<% end %>

<div class="container">

 <div class="card_aula">
    <div class="row justify-content-space between" > 
        <div class="col-8">
            <div class="card-product mt-5 " style="height: 16rem;">
                <% if @lecture.user.photo.present? %>
                     <%= cl_image_tag @lecture.user.photo.key%>
                <% else %>
                      <%= image_tag "https://static.wixstatic.com/media/2bd527_3c1c98c65bfb4ba78f36b31c5a713816~mv2.png/v1/fill/w_152,h_160,al_c,q_85,usm_0.66_1.00_0.01/icone.webp" %>
                <%end%>
                <div class="card-product-infos mx-5"  >
                    <h1><%= @lecture.title.capitalize %></h1>
                    <h2>Descrição: <%= @lecture.description.capitalize %></h2>
                    <% if @owner == current_user %>
                      <h2> Você é o professor desta aula. </h2><br>
                    <% else %>
                      <h2>Seu professor(a): <%= @owner.name %> </h2><br>
                    <% end %>
                    <br>
                    <% if @owner == current_user %>
                    <ul class="list">
                    <li>
                    <%= link_to ("<i class='fas fa-pencil-alt edit' title='Editar'></i>").html_safe, edit_lecture_path(@lecture) %> |
                    <%= link_to ("<i class='far fa-trash-alt delete' title='Deletar'></i>").html_safe, 
                            lecture_path(@lecture),
                            method: :delete,
                            data: { confirm: "Quer deletar esta aula?" } %>
                    </li>
                    </ul>
                    <% end %>                    
                </div>
                
            </div>
        </div>

        <div class="col-4">
            <div class="card-aula mt-5 align-items-start pt-4" style="height: 16rem;">
                <div class="card-product-infos mx-5 pb-3">
                  <h2 class="text-center">Escolher disponibilidade:</h2>
                    <% @availabilities.each do |availability| %>
                        <ul class="list">
                            <% if Booking.where(availability_id: availability.id)[0] %>
                                <li>
                                  <p>                                        
                                    <%= "Data: #{format_date(availability.start_time)}"  %> <br>
                                    <span class="red">Horário indisponível</span>
                                    <% if @owner == current_user %>
                                    <%= link_to ("<i class='fas fa-pencil-alt edit' title='Editar'></i>").html_safe, edit_lecture_availability_path(@lecture, availability) %> |
                                    <%= link_to ("<i class='far fa-trash-alt delete' title='Deletar'></i>").html_safe, 
                                            availability_path(availability),
                                            method: :delete,
                                            data: { confirm: "Quer deletar este horário?" } %>
                                    <% end %>                                    
                                  </p>
                                </li>
                            <% else %>
                                <li>
                                  <p >
                                    <%= "Data: #{format_date(availability.start_time)}"  %>
                                    <% unless @owner == current_user %>
                                    <%= link_to ("<i class='far fa-calendar-plus book' title='agendar'></i>")
                                        .html_safe,
                                        lecture_availability_bookings_path(
                                        @booking,
                                        availability_id: availability.id, 
                                        lecture_id: availability.lecture.id),
                                        method: :post,
                                        data: { confirm: "Solicitar agendamento?" } %> <br>
                                    <% end %>
                                    <span class="green">Horário disponível</span>
                                    <% if @owner == current_user %>
                                    <%= link_to ("<i class='fas fa-pencil-alt edit' title='Editar'></i>").html_safe, edit_lecture_availability_path(@lecture, availability) %> |
                                    <%= link_to ("<i class='far fa-trash-alt delete' title='Deletar'></i>").html_safe, 
                                            availability_path(availability),
                                            method: :delete,
                                            data: { confirm: "Quer deletar este horário?" } %>
                                    <% end %>
                                  </p>
                                  
                                  
                                </li>
                            <% end %>
                        </ul>
                    <% end %>
                </div>  
            </div>
        </div>

    </div>
</div>

  <%= link_to "Lista de aulas", lectures_path, class:"btn btn-info mx-2 mt-3"%>
<% if @owner == current_user %>
  <%= link_to "Adicionar horário", new_lecture_availability_path(@lecture), class:"btn btn-info mx-2 mt-3"%> <br>
<% end %>
