

<h1>Reserva de hor치rio</h1>
<br>
<div class="container">
  <span><strong>Aula: </strong><%= @booking.lecture.title %></span> <br>
  <span><strong>Professor: </strong><%= @booking.lecture.user.name %></span> <br>
  <span><strong>Hor치rio: </strong><%= @booking.availability.start_time %></span>
</div>
<br>
<br>
<%= link_to "Voltar para a aula", lecture_path(params[:lecture_id]) %> <br>
<%= link_to "Voltar para a p치gina do hor치rio", 
    lecture_availability_path(params[:lecture_id], params[:availability_id])%>