<!DOCTYPE html>
<html>
  <head>
    <title>RailsExplicador</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://static.wixstatic.com/media/2bd527_3c1c98c65bfb4ba78f36b31c5a713816~mv2.png/v1/fill/w_152,h_160,al_c,q_85,usm_0.66_1.00_0.01/icone.webp" %>
      <%= "Explicador"%>
    <% end %>
    
  <div class="form-inline">
   
    <button name="button" type="submit" class="btn btn-light">
      <i class="fas fa-search"></i>
    </button>
    <%= form_tag lectures_path, class: "main-search", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control query",
        placeholder: "Pesquisar qualquer coisa"
      %>
      <% end %>
  </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">         
          <%= link_to "Criar aula", "/lectures", class: "a nav-link mx-2" %>
        </li>
        <% if user_signed_in?%>
          <li class="nav-item active">
            <%= link_to "Fazer logout", destroy_user_session_path, method: :delete, class: "a nav-link btn btn-info mx-2"%>          
          </li>
          <% else %>
          <li class="nav-item active">
            <%= link_to "Fazer login", "/users/sign_in", class: "a nav-link"  %>          
          </li>
          <li>        
            <a href="/users/sign_up" type="radio "class="nav-item btn btn-info mx-2">Cadastre-se</a>
          </li>

        <% end %>
        
        <li class="nav-item dropdown">
        <% if current_user %>

          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag("https://www.redditstatic.com/avatars/avatar_default_18_0DD3BB.png", size: "40x40", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false)%>
          <%end%>
        <%end%>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Cadastre uma matéria", "/lectures/new", class: "dropdown-item" %>
            <%= link_to "Aulas Agendadas", "/lectures/:lecture_id/availabilities/:availability_id/bookings/:id", class: "dropdown-item" %>
            <%= link_to "Painel de controle", control_panel_path, class: "dropdown-item" %>
            <%= link_to "Alterar dados de perfil", edit_user_registration_path(current_user), class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <div style="background-color: $blue;">
  </div>
    <%= yield %>
  </body>
</html>
